@font-face {
    font-family: 'Estedad';
    src: url('Estedad-FD[KSHD,wght].woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Estedad', Arial, sans-serif;
}

body {
    font-family: 'Estedad', Arial, sans-serif;
    direction: rtl;
    text-align: right;
    background-color: #ffffff;
    color: #060707;
    /* Gray/950 */
}

/* Header */
.header {
    background: linear-gradient(180deg, #FFF2C5 0%, #FFFFFF 99%);
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
}

.header h1 {
    font-size: 40px;
    color: #060707;
    /* Gray/950 */
    font-weight: 700;
}

/* Contact Banner */
.contact-banner {
    background-color: #060707;
    /* Gray/950 */
    padding: 40px 56px 56px 56px;
    margin: 16px auto;
    border-radius: 8px;
    max-width: 1110px;
}

.contact-info {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.description {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
    /* white */
}

.phone-info {
    display: flex;
    align-items: center;
    gap: 2px;
}

.phone-info-div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 2px;
    margin-top: 11px;
}

.contact-cta {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.phone-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.phone-number {
    font-weight: 700;
    font-size: 24px;
    color: #FFD500;
    /* Gold */
}

.phone-hours {
    font-weight: 400;
    font-size: 14px;
    color: #ffffff;
    /* white */
    margin-left: 28px;
}

.contact-buttons {
    display: flex;
}

.whatsapp-btn {
    font-weight: 500;
    background-color: transparent;
    color: white;
    /* white */
    border: 2px solid white;
    padding: 16px 24px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s ease;
}

.call-btn {
    display: none;
}


/* Social Media */
.social-media {
    text-align: center;
    margin: 32px auto;
    max-width: 1110px;
    padding: 40px;
    border-radius: 8px;
    border: 1px solid #E4E9E9;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.social-icon {
    border-radius: 50%;
    background-color: #E4E9E9;
    /* Gray/100 */
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon svg {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

/* Contact Methods */
.contact-methods {
    max-width: 1110px;
    margin: 88px auto;
}

.contact-methods h2 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    margin-bottom: 80px;
    color: #060707;
    /* Gray/950 */
}

.methods-grid {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
}

.method-card {
    width: 100%;
    background: white;
    border: 1px solid #CCD5D3;
    /* Gray/200 */
    border-radius: 16px;
    padding: 40px 16px;
    text-align: center;
    box-shadow: 0px 2px 4px -2px #0607070D;
    box-shadow: 0px 4px 6px -1px #0607071A;
    gap: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.method-card h3 {
    font-weight: 700;
    font-size: 20px;
    color: #060707;
    /* Gray/950 */
}

.method-card p {
    font-weight: 500;
    font-size: 16px;
    color: #060707;
    /* Gray/950 */

}

.method-card a {
    font-weight: 700;
    font-size: 16px;
    color: #2A4ACA;
    /* Blue */
    text-decoration: underline;
    padding: 10px 25.5px;
    display: block;

}

.method-icon svg {
    width: 88px;
    height: 88px;
    object-fit: contain;
}

.phone-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 24 24'%3E%3Cpath d='M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z'/%3E%3C/svg%3E");
}

.whatsapp-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 24 24'%3E%3Cpath d='M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347m-5.421 7.403h-.004a9.87 9.87 0 01-5.031-1.378l-.361-.214-3.741.982.998-3.648-.235-.374a9.86 9.86 0 01-1.51-5.26c.001-5.45 4.436-9.884 9.888-9.884 2.64 0 5.122 1.03 6.988 2.898a9.825 9.825 0 012.893 6.994c-.003 5.45-4.437 9.884-9.885 9.884m8.413-18.297A11.815 11.815 0 0012.05 0C5.495 0 .16 5.335.157 11.892c0 2.096.547 4.142 1.588 5.945L.057 24l6.305-1.654a11.882 11.882 0 005.683 1.448h.005c6.554 0 11.89-5.335 11.893-11.893A11.821 11.821 0 0020.465 3.488'/%3E%3C/svg%3E");
}

.chat-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 24 24'%3E%3Cpath d='M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z'/%3E%3C/svg%3E");
}

.email-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 24 24'%3E%3Cpath d='M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z'/%3E%3C/svg%3E");
}

.method-btn {
    font-family: 'Estedad', Arial, sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #060707;
    /* Gray/950 */
    padding: 10px 25.5px;
    border-radius: 50px;
    border: none;
    background-color: #FF9900;
    /* Primary-500 */
}

/* Collaboration Section */
.collaboration {
    background-color: #FFD500;
    /* Gold */
    padding: 80px 40px;
    margin: 80px auto;
    max-width: 1110px;
    border-radius: 16px;
}

.collaboration-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 0 auto;
    text-align: center;
}

.collaboration h2 {
    font-size: 32px;
    font-weight: 700;
    color: #060707;
    /* Gray/950 */
}

.collaboration-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.collab-icon {
    width: 100%;
}

.collab-icon div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.collab-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0px 32px 16px 32px;
    width: 100%;
}

.collab-text h3 {
    font-size: 24px;
    font-weight: 700;
    color: #060707;
    /* Gray/950 */
}

.collab-text p {
    font-size: 18px;
    font-weight: 400;
    color: #060707;
    /* Gray/950 */
}

.collaboration-btn {
    background-color: #060707;
    /* Gray/950 */
    color: white;
    border: none;
    padding: 17px 24px;
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Estedad', Arial, sans-serif;
}

.collaboration-btn:hover {
    background-color: #394040;
    /* Gray/900 */
}

/* FAQ Section */
.faq-section {
    padding: 120px 0px;
    background-color: #FFF2C5;
    /* Primary-100 */
}

.faq-section h2 {
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 80px;
    color: #060707;
    /* Gray/950 */
}

.faq-container {
    max-width: 1110px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: white;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    padding: 16px;
}

/* Hide radio inputs */
.faq-container input[type="radio"] {
    display: none;
}

/* Tab content styling */
.tab-content {
    display: none;
    align-items: flex-start;
    gap: 48px;
    padding: 32px 48px 32px 32px;
}

/* Show content based on selected tab */
#tab1:checked~.faq-content #content1,
#tab2:checked~.faq-content #content2,
#tab3:checked~.faq-content #content3,
#tab4:checked~.faq-content #content4,
#tab5:checked~.faq-content #content5,
#tab6:checked~.faq-content #content6,
#tab7:checked~.faq-content #content7 {
    display: flex;
}

/* Icon base styles */
.faq-icon {
    border-radius: 100%;
    background-color: #FFF2C5;
    /* Primary/100 */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.faq-icon svg {
    width: 120px;
    height: 120px;
    object-fit: contain;
}

.faq-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding: 32px 0px;
}

.faq-text p {
    font-size: 18px;
    color: #060707;
    /* Gray/950 */
    font-weight: 400;
}

.faq-btn {
    background-color: #060707;
    /* Gray/950 */
    color: white;
    border: none;
    padding: 16px 24px;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Estedad', Arial, sans-serif;
    font-weight: 500;
}

.faq-btn:hover {
    background-color: #394040;
    /* Gray/900 */
}

.faq-sidebar {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.faq-item {
    padding: 16px 40px 16px 24px;
    background: #E4E9E9;
    border-radius: 8px;
    font-size: 18px;
    color: #060707;
    /* Gray/950 */
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: right;
    font-family: 'Estedad', Arial, sans-serif;
    font-weight: 700;
    position: relative;
}

/* Normal state - no arrow */
.faq-item::before {
    content: '';
    position: absolute;
    left: -8px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border: none;
    /* transition: all 0.3s ease; */
}

.faq-item:hover {
    background-color: #CCD5D3;
}

.faq-item:hover::before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #CCD5D3;
}

.faq-sidebar label {
    color: #394040;
    /* Gray/900 */
    font-weight: 500;
}

/* Active state based on checked radio - yellow with arrow */
#tab1:checked~.faq-sidebar label[for="tab1"],
#tab2:checked~.faq-sidebar label[for="tab2"],
#tab3:checked~.faq-sidebar label[for="tab3"],
#tab4:checked~.faq-sidebar label[for="tab4"],
#tab5:checked~.faq-sidebar label[for="tab5"],
#tab6:checked~.faq-sidebar label[for="tab6"],
#tab7:checked~.faq-sidebar label[for="tab7"] {
    background-color: #FFD500;
    color: #060707;
    font-weight: 600;
    box-shadow: 0px 10px 10px 0px #0607070A;
    box-shadow: 0px 20px 25px -5px #0607071A;
}

#tab1:checked~.faq-sidebar label[for="tab1"]::before,
#tab2:checked~.faq-sidebar label[for="tab2"]::before,
#tab3:checked~.faq-sidebar label[for="tab3"]::before,
#tab4:checked~.faq-sidebar label[for="tab4"]::before,
#tab5:checked~.faq-sidebar label[for="tab5"]::before,
#tab6:checked~.faq-sidebar label[for="tab6"]::before,
#tab7:checked~.faq-sidebar label[for="tab7"]::before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid #FFD500;
}

/* FAQ Mobile Section Styles */
.faq-mobile-section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 88px 24px 160px 24px;
    background: #FFF2C5;
    /* Primary/100 */
}

.faq-mobile-section h2 {
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 48px;
    color: #060707;
}

.faq-accordion-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 12px;
}

/* Hide checkbox inputs */
.accordion-checkbox {
    display: none;
}

/* Accordion Item Styling */
.faq-accordion-item {
    background: #FFFFFF;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 8px 8px 16px 16px;
    cursor: pointer;
    background: white;
    transition: all 0.3s ease;
    position: relative;
}

.accordion-title {
    font-size: 14px;
    font-weight: 700;
    color: #060707;
    line-height: 1.9;
}

.accordion-icon {
    font-size: 24px;
    font-weight: 300;
    color: #060707;
    transition: all 0.3s ease;
    margin-left: 8px;
}

.accordion-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFBEA;
    /* Primary 100 */
    border-radius: 50%;
    padding: 12px;
}

.accordion-logo svg {
    width: 44px;
    height: 44px;
    object-fit: contain;
}

/* Accordion Content */
.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background: #FFFFFF;
}

.accordion-inner {
    padding: 0px 8px 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.accordion-inner p {
    text-align: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.9;
    color: #060707;
}

.accordion-inner button {
    background-color: #060707;
    /* Gray/950 */
    color: white;
    border: none;
    padding: 10px 24px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    font-family: 'Estedad', Arial, sans-serif;
    font-weight: 500;
}

.accordion-inner button:hover {
    background-color: #394040;
    /* Gray/900 */
}

/* When checkbox is checked */
.accordion-checkbox:checked+.accordion-header {
    background: #FFFFFF;
}

.accordion-checkbox:checked+.accordion-header .accordion-icon {
    color: #7E928F;
    font-size: 0;
}

.accordion-checkbox:checked+.accordion-header .accordion-icon::before {
    content: '−';
    font-size: 24px;
}

.accordion-checkbox:checked~.accordion-content {
    max-height: 1000px;
}

/* Style the parent item when checkbox is checked */
.faq-accordion-item:has(.accordion-checkbox:checked) {
    border: 1px solid #FFD500;
    box-shadow: 0px 10px 10px 0px #0607070A, 0px 20px 25px -5px #0607071A;
}



/* Responsive Design */
@media (max-width: 768px) {
    .header h1 {
        font-size: 28px;
    }

    /* Contact Banner */
    .contact-banner {
        margin: 16px;
        padding: 16px 16px 48px 16px;
    }

    .contact-info {
        flex-direction: column;
        align-items: stretch;
        gap: 40px;
    }

    .description {
        font-size: 20px;
        line-height: 1.5;
    }

    .phone-info-div {
        margin-bottom: 0px;
    }

    .contact-cta {
        flex-direction: column;
        gap: 8px;
        align-items: flex-end;
    }

    .contact-buttons {
        display: flex;
        flex-direction: row;
        gap: 8px;
        width: 100%;
        justify-content: center;
    }

    .whatsapp-btn {
        padding: 10px 16px;
        font-size: 14px;
        border-radius: 50px;
        width: 100%;
    }

    .call-btn {
        padding: 16px 32px;
        font-size: 14px;
        font-weight: 500;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        background-color: #FF9900;
        /* Primary-500 */
        color: #060707;
        /* Gray/950 */
        display: flex;
        width: 100%;
        border: none;
        flex-shrink: 1;
    }

    .phone-info-div {
        gap: 4px;
        order: 3;
    }

    .phone-number {
        font-size: 20px;
    }

    .phone-hours {
        font-size: 12px;
    }

    /* Social Media */
    .social-media {
        padding: 24px 16px;
        margin: 32px 16px;
    }

    .social-icons {
        gap: 9px;
    }

    /* Contact Methods */
    .contact-methods {
        margin: 48px 16px;
    }

    .contact-methods h2 {
        font-size: 28px;
        margin-bottom: 40px;
    }

    .methods-grid {
        flex-direction: column;
        gap: 8px;
    }

    .method-card {
        padding: 32px 16px;
        gap: 24px;
    }

    .method-card h3 {
        font-size: 18px;
    }

    .method-card p {
        font-size: 14px;
    }

    .method-btn {
        padding: 8px 24px;
        font-size: 14px;
    }

    /* Collaboration Section */
    .collaboration {
        padding: 48px 16px;
        margin: 48px 16px 80px 16px;
    }

    .collaboration h2 {
        font-size: 28px;
    }

    .collaboration-content {
        gap: 48px;
    }

    .collaboration-grid {
        flex-direction: column;
    }


    .collab-text h3 {
        font-size: 18px;
    }

    .collab-text p {
        font-size: 16px;
    }
}

@media (max-width: 1200px) {
    .contact-banner {
        margin: 16px;
    }

    .collaboration {
        margin: 48px 16px 80px 16px;
    }
}

@media (max-width: 1024px) {
    .faq-section:not(.faq-mobile-section) {
        display: none;
    }
}

/* Hide mobile FAQ on desktop */
@media (min-width: 1025px) {
    .faq-mobile-section {
        display: none;
    }
}